<div ng-controller="IssueFormCtrl">
  <div class="row-fluid">
    <form id="prodform" name="prodForm" class="well span6">
        <label>Reporter</label>
        <span class="reporter" ng-model="form.reporter">{{session.name}}</span>
        <br/><br/>
      <label>Summary:</label>
      <input ng-model="form.summary" required placeholder="Trouble saving account 123123" class="span12"/>

      <label>Population Affected:</label>
      <input ng-model="form.population" required class="span12" placeholder="All of operations" />

      <label>Priority</label>
      <select ng-model="form.priority" required class="span12">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
      </select>

      <div ng-show="form.priority=='High'" class="alert">
        <strong>Warning!</strong> Please call production support in addition to sending this form!
      </div>

      <label>Description:</label>
      <textarea ng-model="form.description" required class="span12" placeholder="please include steps to reproduce..."></textarea>

      <label>Acceptance Critera</label>
      <textarea ng-model="form.acceptance" required class="span12"></textarea>

    <button ng-click="cancel()" ng-disabled="isCancelDisabled()">Cancel</button>
    <button ng-click="save()" ng-disabled="isSaveDisabled()">Save</button>
    </form>
    <div class="span6"> 
        <p> <span class="label label-warning">
            This form is not yet active
        </span><br/>JIRA does not allow issue creation via JSON callback.  The plan is to connect a nodejs server to proxy this call.
        </p>
    </div>
  </div>
      <div class="row-fluid">
        <div class="span5"> Form details
          <pre>{{form}}</pre>
        </div>
        <div class="span5"> Post to JIRA
          <pre>{{jiraPost}}</pre>
        </div>
      </div>
   