 <div ng-controller="IssueFormCtrl">
      <form name="prodForm">
        <label>Reporter:</label>
          <span class="reporter" ng-model="form.reporter">{{session.name}}</span> <br/><br/>
      <label>Summary:</label>
          <input ng-model="form.summary" required /><br/>

      <label>Population Affected:</label>
          <input ng-model="form.population" required /><br/>

        <label>Description:</label>
          <textarea ng-model="form.description" required></textarea><br/>
        <label>Priority</label><br/>
          <select ng-model="form.priority" required>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>

        <label>Acceptance Critera</label>
        <textarea ng-model="form.acceptance" required></textarea>

    <button ng-click="cancel()" ng-disabled="isCancelDisabled()">Cancel</button>
    <button ng-click="save()" ng-disabled="isSaveDisabled()">Save</button>
    </form>
    <hr/>
      <div class="row-fluid">
        <div class="span5"> Form details
          <pre>{{form}}</pre>
        </div>
        <div class="span5"> Post to JIRA
          <pre>{{jiraPost}}</pre>
        </div>
      </div>
   